# Data
Data/processed/
Data/raw/Dataset/  # if contains large files

# Results
Results/
logs/

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo